.moodlogquestionheader {
    display: block;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

/* 
STYLING FOR CHECKBOX COMPONENT
*/

.checkboxContainer {
    display: flex;
    flex-direction: column;
}

.checkboxGroup {
    display: flex;
    margin: auto;
}

/* Optional: Add margin to separate checkboxes */
.checkboxGroup > * {
    margin-right: 50px; /* Adjust as needed */
}

/* 
STYLING FOR CALENDAR POP UP
*/

.popUp {
    margin-bottom: 20px;
}

.menuItemIcon {
    margin-left: 8px;
}

