.moodlogquestionheader {
    display: block;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.checkboxContainer {
    display: flex;
    flex-direction: column;
}

.checkboxGroup {
    display: flex;
}

/* Optional: Add margin to separate checkboxes */
.checkboxGroup > * {
    margin-right: 10px; /* Adjust as needed */
}
